# Various editor files
*.swp
*.vcxproj.user
*~
.vs

# MacOS folder meta-data
.DS_Store

# cscope index
cscope.out

# Example program
examples/demo
examples/demo.exe
examples/test-root-user
examples/test-root-user.exe

# Release archives
libzt_*.tar.gz
libzt_*.zip

# The test program
libzt-test
libzt-test.exe

# LLVM Code coverage files
*.profdata
*.profraw

# Object files
*.o
*.obj

# static libraries and associated artefacts
*.a
*.lib
*.exp

# shared libraries and plugins
*.dll
*.so
*.so.1
*.dylib
*.bundle

# Static analysis files
*.c.i
*.PVS-Studio.log
pvs-report/

# Configured in-tree build
GNUmakefile.configure.mk
.version-from-git

# Manual pages
man/*.[123456789]
